<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <img
          class="mb-2"
          src="/images/logo.png"
          alt=""
          width="94"
          height="89"
        />
        <small class="d-block mb-3 text-muted">&copy; 1992–2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Products</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="/products/clothes">Clothes</a></li>
          <li><a class="link-secondary" href="/products/accessories">Accessories</a></li>
          <li><a class="link-secondary" href="/products/toys">Toys</a></li>
          <li><a class="link-secondary" href="/products/cutlery">Cutlery</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Account</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="/account/view-account">Profile</a></li>
          <li><a class="link-secondary" href="/account/orders">Orders</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="/about">Team</a></li>
          <li><a class="link-secondary" href="/about">Locations</a></li>
          <li><a class="link-secondary" href="/terms">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
