<div class="container" id="product-section" style="text-align: center">
  <div class="row">
    <div class="col-md-3">
      <a style="text-decoration: none" href="/products/clothes">
        <img
          src="/images/products/ratatouille_sweatshirt.jpg"
          class="d-block w-100"
          height="250"
          alt="Yellow sweatshirt with rataouille graphic"
        />Clothes
      </a>
    </div>
    <div class="col-md-3">
      <a style="text-decoration: none" href="/products/accessories">
        <img
          src="/images/products/tower-of-pisa.png"
          class="d-block w-100"
          height="250"
          alt="Leaning Tower of Pisa comedic programming facemask"
        />Accessories
      </a>
    </div>
    <div class="col-md-3">
      <a style="text-decoration: none" href="/products/toys">
        <img
          src="/images/products/minecraft-toy-orange.png"
          class="d-block w-100"
          height="250"
          alt="orange fox minecraft toy"
        />Toys
      </a>
    </div>
    <div class="col-md-3">
      <a style="text-decoration:none" href="/products/cutlery">
        <img
          src="/images/products/heart-mug.png"
          class="d-block w-100"
          height="250"
          alt="From left to right: fork, knifem tablespoon, teaspoon"
        />Cutlery
      </a>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- end container -->
